
{% extends './base.html' %}
{% load static %}
{% block section %}
    <h2>{{ object.name }}</h2>
    <hr>
{% endblock section %}

{% block maincontent %}
  <div>
     <table border="1px">
      <tr>
          {% for p in object.get_players.all %}
             <td>
               <div>{{ p.first_name }} {{ p.last_name }}</div>
               <div>
                  <a href="{% url "player-detail" p.id %}">
                     <img src="{% static p.photo.url %}" style="width:170px;height:200px"/>
                  </a>
               </div>
             </td>
           {% endfor %}
       </tr> 
      </table>
   </div>
{% endblock maincontent %}